header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231751;
    /* Updated background color */
    color: aliceblue;
    padding: 2rem;
}

.centrar-header {
    width: 100%;
}

.ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.ul-header li {
    width: 30%;
}

.boton-header {
    width: 80%;
    padding: 0 5%;
    border-radius: 5px;
    border-color: transparent;
    background-color: #000 ;
    animation-name: brillo;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    color: white;
}

@keyframes brillo {
    from {
        box-shadow: 0 0 1px #fff;
    }

    to {
        box-shadow: 0 0 5px #fff;
    }
}

.text-link {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: #231751;
}

.navegation-input {
    width: 100%;
    height: 35px;
}

@media (max-width: 599px) {

    .centrar-header h1 {
        display: none;
    }

    .centrar-header a {
        display: flex;
        justify-content: center;
    }

    .centrar-header img {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100px;
    }

    .ul-header {
        display: none;
    }

    .ul-header button {
        height: 50px;
        width: 140%;
    }

    #list {
        display: flex;
        font-size: 50px;
        cursor: pointer;
        justify-content: center;
    }

    #list:hover .ul-header {
        display: flex;
        background-color: aliceblue;
        position: fixed;
        bottom: 52%;
        left: 71%;
        width: 70%;
        height: 50%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        border: 0.5px solid #231751;
        animation: left 1s ease-out forwards;
        box-shadow: 0 4px 8px rgba(35, 23, 81, 1);
    }
    @keyframes left {
        0% {
            opacity: 0;
            transform: translateX(30%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media (max-width: 1100px) and (min-width: 600px) {
    .centrar-header h1 {
        display: none;
    }

    .centrar-header a {
        display: flex;
        justify-content: center;
    }

    .centrar-header img {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100px;
    }

    .ul-header {
        display: none;
    }

    .ul-header button {
        height: 50px;
        width: 110%;
    }

    #list {
        display: flex;
        font-size: 50px;
        cursor: pointer;
        justify-content: center;
    }

    #list:hover .ul-header {
        display: flex;
        background-color: aliceblue;
        position: fixed;
        bottom: 52%;
        left: 76%;
        width: 74%;
        height: 50%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        border: 0.5px solid #231751;
        animation: left 1s ease-out forwards;
        box-shadow: 0 4px 8px rgba(35, 23, 81, 1);
    }

    @keyframes left {
        0% {
            opacity: 0;
            transform: translateX(30%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}