header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231751;
    /* Updated background color */
    color: aliceblue;
    padding: 2rem;
}



    
