header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231751;
    /* Updated background color */
    color: aliceblue;
    padding: 2rem;
}

.centrar-header {
    width: 25%;
}

ul {
    display: flex;
    justify-content: end;
}

.boton-header{
    width: 110%;
    height: 120%;
    border-radius: 5px;
    border-color: transparent;
    background-color: white;
}

.color-link{
    color: #231751;
}

.navegation-input{
    width: 100%;
    height: 35px;
}