<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <ul class="bread-crumb">
            <li><a href="/">inicio</a></li>
            <li><a href="#">ropa</a></li>
            <li><a href="#">remeras</a></li>
            <li><a href="#">manga corta</a></li>
            <li>Mario Bros</li>
        </ul>
        <section class="general-product-page">
            <section class="product-image-container">

                <div class="product-image"><img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                        alt="buzo mario bros">
                        
                    </section>
                    <section class="product-description">
                        <div>Remera manga corta estampada 100% algodón</div>
                        <div class="product-price">$1000.00</div>
                        <form>
                            <div> <input type="radio" id="small" name="size" value="small">
                                <label for="small">Small</label>
                            </div>
        
                            <div><input type="radio" id="medium" name="size" value="medium">
                                <label for="medium">Medium</label>
                            </div>
        
                            <div><input type="radio" id="large" name="size" value="large">
                                <label for="large">Large</label>
                            </div>
        
                            <div> <input type="radio" id="extra-large" name="size" value="extra-large">
                                <label for="extra-large">Extra Large</label>
                            </div>
        
                            <div><label for="quantity">Cantidad :</label>
                                <select id="quantity" name="quantity">
                            </div>
        
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select><br>
                            <button type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </div>
        </section>

        </section>

        <section class="relatedProducts">
            <h2>Productos relacionados:</h2>
            <div class="related-products-container">

                <h1></h1>
                <div class="gallery">
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

<%- include ('partials/footer')%>
</body>

</html>