<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {customCSS: "404.css"}) %>
<body>
    <%- include('partials/header') %>
    <h1 class="press-start">Ups Error 404</h1>
    <%- include('partials/footer') %>
</body>
</html>