<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "\estilos.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers Costumes</title>
</head>
<body>
    <header>
        <svg 
             xmlns="http://www.w3.org/2000/svg" 
             width="49.34" 
             height="28" 
             viewBox="0 0 28 24">
             <path fill="currentColor" d="M2.61 0h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.39h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.391h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22z"/></svg>
        </div>
        <h1> Gamers Costumes </h1>
    <img class="logo" src="\img\logo.png" alt="Logo"> 
    </header>
    <main> 

    </main>
</body>
</html>