<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {customCSS: null}) %>

    <body>

        <%- include('partials/header') %>

            <main>
                <%- include('partials/publicidad') %>

                    <h1>Destacados</h1>

                    <section class="contenedor-ofertas">

                        <article class="product-card2">
                            <img src="/img/characterStreet.jpeg" alt="destacada de character select Street fighter"
                                class="outstanding">
                                <div>
                                    <h3 class="outstanding-text">Remera character select Street fighter</h3>
                                </div>
                            </article>
                        </section>

                    <h2>Novedades</h2>

                    <section class="contenedor-ofertas">

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/characterStreet.jpeg"
                                    alt="Remera character select Street Fighter"></a>
                            <div>
                                <h3>Remera character</h3>
                                <p class="offer-text">15% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/marioHongos.png"
                                    alt="Remera Sonic and Friends"></a>
                            <div>
                                <h3>Remera Sonic and Friends</h3>
                                <p class="offer-text">15% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/street2.jpg"
                                    alt="Remera Street Fighter II"></a>
                            <div>
                                <h3>Remera Street Fighter II</h3>
                                <p class="offer-text">15% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/mortalKombat.jpg"
                                    alt="Remera Mortal Kombat"></a>
                            <div>
                                <h3>Remera Mortal Kombat</h3>
                                <p class="offer-text">15% Descuento</p>
                            </div>
                        </article>

                    </section>

                    <h2>Ofertas</h2>

                    <section class="contenedor-ofertas">

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                        <article class="product-card">
                            <a href="products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                                    alt="remera mario bros"></a>
                            <div>
                                <h3>Remera mario bros</h3>
                                <p class="offer-text">25% Descuento</p>
                            </div>
                        </article>

                    </section>

            </main>

            <%- include ('partials/footer', {})%>

    </body>

</html>