<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {customCSS: null}) %>

<body>

    <%- include('partials/header') %>

    <main>
        <%- include('partials/publicidad') %>


        <h2>Ofertas</h2>

        <section class="contenedor-ofertas">

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="/products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

            <article class="product-card">
                <a href="products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>
            
            <article class="product-card">
                <a href="products/detail"><img src="/img/D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="remera mario bros"></a>
                <div>
                    <h3>Remera mario bros</h3>
                    <p class="offer-text">25% Descuento</p>
                </div>
            </article>

        </section>

    </main>

    <%- include ('partials/footer', {})%>

</body>

</html>