<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {customCSS: null }) %>

<body>

    <%- include('partials/header') %>


    <main>

        <form action="./login" class="formLogin" method="post">
            <h2 class="ingresaTitulo"> Player One Ready </h2>

            <label for="email">Email</label>
            <input type="email" placeholder="minombre@dominio.com" id="email" name="email" autocomplete="email">

            <label for="passwordUsuario">Password</label>
            <input type="password" id="passwordUsuario" name="passwordUsuario" autocomplete="current-password">
            <% if (errors.length > 0) { %>
                <ul><li class="errors"><%= errors[0].msg %></li></ul> 
            <% } %>
            <input class="botonSubmit buttonLogin" type="submit" value="START">

            <div>
                <a href="recover-pass">Olvidé mi contraseña</a>
            </div>
        </form>
        
        
        <div class="crearCuentaDiv">
            A new player ?
             <a class=" crearCuenta" href = "register"> crear una nueva cuenta </a>
        </div>


    </main>

    <%- include ('partials/footer')%>
</body>

</html>