<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {customCSS: null }) %>

<body>

    <%- include('partials/header') %>


    <main>

        <form>
            <h2 class="IngresaTitulo"> Ingresá a tu cuenta </h2>
            <input type="email" placeholder="minombre@dominio.com">
            <input type="password">
            <input class="botonSubmit" type="submit">
            <div>
                <a href="/recover-pass">Olvidé mi contraseña</a>
            </div>
        </form>

        <div>
            No estoy registrado:
             <a class=" crearCuenta" href = "/register"> crear una nueva cuenta </a>
        </div>


    </main>

    <%- include ('partials/footer')%>
</body>

</html>