<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: null }) %>

<body>

    <%- include('partials/header') %>


    <main>

        <form action="/recuperar-contrasena" method="post">
            <h2>Recuperar Contrase침a</h2>
            <label for="email">Correo Electr칩nico:</label>
            <input type="email" id="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Agregue un password v치lido">
    
            <button class="botonSubmit type="submit>Recuperar Contrase침a</button>
        </form>

        <div>
            No estoy registrado:
             <a class=" crearCuenta" href = "register"> crear una nueva cuenta </a>
        </div>


    </main>

    <%- include ('partials/footer')%>
    
</body>

</html>