<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "shopping.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>

        <h2>Mi carrito</h2>

        <ul class="bread-crumb">
            <li><a href="/">inicio</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>
        <article class="body-shopping">
            <section class="general-product-page">
                <section class="product-image-container">
    
                    <div class="product-image"><img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp"
                            alt="buzo mario bros">
    
                </section>
                <section class="product-description-2">
                    <div>Remera manga corta estampada 100% algodón</div>
                    <div class="product-price">$1000.00</div>
                    <form>
                        <div><label for="quantity">Cantidad :</label>
                            <select id="quantity" name="quantity">
                        </div>
    
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select><br>
                        <button type="submit">Agregar</button>
                    </form>
                </section>
            </section>
            <section class="product-description-3">
                <div>Codigo de descuento</div>
                <div class="product-price"></div>
                <label for="codigo"></label>
                <div class="codigo-descuento" >
                    <input type="text" placeholder="Ingrese cupon de descuento">
                </div>
                <button type="submit"> Validar</button>
                <div class="text-code">Subtotal</div>
                <div class="text-code">Envio</div>
                <div class="text-code">Total</div>
                <button type="submit">Comprar</button>
            </section>
        </article>
        

        <section class="relatedProducts">
            <h2>Recomendado para vos:</h2>
            <div class="related-products-container">

                <h1></h1>
                <div class="gallery">
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <footer>
        <%- include ('partials/footer')%>

</body>

</html>