<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "shopping.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>

        <h2>Mi carrito</h2>

        <ul class="bread-crumb">
            <li><a href="/">inicio</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>
        <article class="body-shopping">
            <section class="general-product-page">
                <section class="product-image-container">
    
                    
    
                </section>
                <section class="product-description-2">
                    <div class="product-image"><img src="\img\uploads/remeraMdeMario.webp"
                            alt="buzo mario bros">
                    <div>Remera manga corta estampada 100% algodón</div>
                    <div class="product-price">$5000.00</div>
                    <form>
                        
                        </select><br>
                        <button class="boton-personalizado remover-carrito" type="submit"> X </button>
                    </form>
                </section>
            </section>
            <section class="product-description-3">
                <div>Codigo de descuento</div>
                <div class="product-price"></div>
                <label for="codigo"></label>
                <div class="codigo-descuento" >
                    <input type="text" placeholder="Ingrese cupon de descuento">
                </div>
                <button class="boton-personalizado" type="submit"> Validar</button>

                <article class="text-code">
                    <div>Subtotal</div>
                    <div> 5000$</div>
                </article>

                <article class="text-code">
                    <div>Envio</div>
                    <div> 500$</div>
                </article>

                <article class="text-code">
                    <div>Total</div>
                    <div> 5500$</div>
                </article>
                <button class="boton-personalizado" type="submit">Comprar</button>
            </section>
        </article>
        

        <section class="relatedProducts">
            <h2>Recomendado para vos:</h2>
            <div class="related-products-container">

                <h1></h1>
                <div class="gallery">
                    <div class="gallery-item">
                        <img src="\img\uploads/remeraMdeMario.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/remeraMdeMario.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/remeraMdeMario.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/remeraMdeMario.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/remeraMdeMario.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <footer>
        <%- include ('partials/footer')%>

</body>

</html>