<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {customCSS: "terms.css" }) %>

    <body>

        <%- include('partials/header') %>


            <main>

                <h2 class="ingresaTitulo"> Terminos y condiciones </h2>



                Términos y Condiciones de Gamers Costumes

                Bienvenido a Gamers Costumes, su destino exclusivo para remeras estampadas inspiradas en el mundo de
                los videojuegos. Al utilizar nuestro sitio web y realizar compras en él, usted acepta los siguientes
                términos y condiciones.
                <ol>

                    <li>  Generalidades: Gamers Costumes es una plataforma de comercio electrónico que ofrece
                        productos
                        relacionados con videojuegos, principalmente remeras estampadas. Nuestros productos están
                        dirigidos
                        a un público apasionado por la cultura gamer.</li>

                    <li> Registro: Para realizar una compra, es necesario que se registre en nuestro sitio. Al
                        hacerlo, se
                        compromete a proporcionar información veraz y actualizada.</li>
                    <li> Privacidad: La seguridad de su información personal es de suma importancia para nosotros. Nos
                        comprometemos a no divulgar su información a terceros sin su consentimiento explícito, excepto
                        cuando sea requerido por ley.</li>
                    <li> Compras: Al confirmar una compra, usted se compromete a pagar el precio total del producto,
                        que
                        incluye impuestos y gastos de envío cuando corresponda.</li>
                    <li> Envíos: Realizamos envíos a todo el territorio argentino. Los tiempos de entrega pueden
                        variar
                        según la ubicación y la disponibilidad del producto.</li>
                    <li>
                         Devoluciones y Reembolsos: Si no está satisfecho con su compra, puede solicitar una
                        devolución o
                        cambio dentro de los 30 días posteriores a la recepción del producto, siempre y cuando este se
                        encuentre en su estado original.</li>
                    <li>  Propiedad Intelectual: Todos los diseños de las remeras son propiedad exclusiva de Gamers
                        Costumes o de sus respectivos dueños con licencia. Está prohibida la reproducción o imitación de
                        los
                        mismos.</li>
                    <li> Limitación de Responsabilidad: Gamers Costumes no se responsabiliza por daños indirectos,
                        incidentales o consecuentes que resulten del uso de nuestro sitio o productos.</li>
                    <li> Modificaciones: Nos reservamos el derecho de modificar estos términos y condiciones en
                        cualquier
                        momento. Es su responsabilidad revisarlos regularmente.</li>
                    <li>  Legislación Aplicable: Estos términos y condiciones se rigen por las leyes de la República
                        Argentina.</li>


                </ol>

                Al utilizar nuestro sitio, usted reconoce que ha leído y comprendido estos términos y condiciones y
                acepta estar legalmente vinculado por ellos. Si tiene alguna pregunta o inquietud, no dude en
                contactarnos.





            </main>

            <%- include ('partials/footer')%>
    </body>

</html>