<header>

    <article class="centrar-header">
        <a href="/">
            <img class="logo" src="\img\logo.png" alt="Logo">
        </a>
    </article>

    <article class="centrar-header">
        <h1 class="gamerscostumes"> Gamers Costumes </h1>
    </article>

    <article class="centrar-header">


        <section class ="tercerElemento">
            <nav>
                <ul class="ul-header">
                    <li>
                        <button class="boton-header">
                            <a class="text-link" href="../users/login">
                                👤  Mi cuenta 
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="boton-header">
                            <a class="text-link" href="../users/register">
                                Registrate
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="boton-header">
                            <a class="text-link" href="../products/shopping-cart">
                                Carrito
                            </a>
                        </button>
                    </li>
                </ul>
                
                <ul class = "hidden">
                    <li>
                        
                        👩🏻‍🦱 Milagros 
                        
                    </li>
                    <li>
                        
                        Log out
                        
                    </li>
                </ul>
            </nav>
        </section>
    </article>
        
        <div class="hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="49.34" height="28" viewBox="0 0 28 24">
                <path fill="currentColor"
                d="M2.61 0h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.39h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.391h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22z" />
            </svg>
        </div>
    </header>