<head>

    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <% if (customCSS) { %>
        <link rel="stylesheet" href="/css/<%= customCSS %>">
    <% } %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers Costumes</title>
    <link rel="icon" href="/img/logo_titulo.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

</head>