<header>

    <article class="centrar-header">
        <a href="/">
            <img class="logo" src="\img\logo.png" alt="Logo">
        </a>
    </article>

    <article class="centrar-header">

    </article>

    <article class="centrar-header">

        <section class="tercerElemento">
            <nav>
                <ul class="ul-header">
                    
                    
                    <% if(locals.user != undefined)  { if (locals.user.userEspecify_id === 1){ %>
                    <li>
                        <button id="admin" class="boton-header">
                            <a class="text-link" href="/products/create-product">
                                Crear Producto
                            </a>
                        </button>
                    </li>
                    <% }} %>
                    <% if(locals.user != undefined) { %>
                        <li>
                            <button id="admin" class="boton-header">
                                <a class="text-link" href="/users/profile">
                                    Mi perfil
                                </a>
                            </button>
                        </li>
                        <% } %>
                        <% if(locals.user == undefined) { %>
                            <li>
                                <button id="admin" class="boton-header">
                                    <a class="text-link" href="/users/login">
                                        Log In
                                    </a>
                                </button>
                            </li>
                            <li>
                                <button class="boton-header">
                                    <a class="text-link" href="/users/register">
                                        Registrate
                                    </a>
                                </button>
                            </li>
                            <% } %>
                    <li>
                        <button class="boton-header">
                            <a class="text-link" href="/products/shopping-cart">
                                Carrito
                            </a>
                        </button>
                    </li>
                </ul>

                
            </nav>
        </section>
    </article>

    <div class="hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="49.34" height="28" viewBox="0 0 28 24">
            <path fill="currentColor"
                d="M2.61 0h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.39h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.391h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22z" />
        </svg>
    </div>
</header>