<header>

    <article class="centrar-header">
        <a href="/">
            <img class="logo" src="\img\logo.png" alt="Logo">
        </a>
    </article>

    <article class="centrar-header">

        <% if(locals.user !=undefined) { %>
            <h1>Player 1 : <%= locals.user.firstName.toUpperCase() %>
            </h1>
            <%}%>

    </article>

    <article class="centrar-header">

        <div id="list">
            <i class="bi bi-list"></i>
        </div>
        <section class="tercerElemento">
            <nav>
                <ul class="ul-header">


                    <% if(locals.user !=undefined) { if (locals.user.userEspecify_id===1){ %>
                        <li>
                            <button id="admin" class="boton-header">
                                <a class="" href="/products/create-product">
                                    <i class="bi bi-plus-circle-dotted"> CREAR</i>
                                </a>
                            </button>
                        </li>
                        <% }} %>
                            <% if(locals.user !=undefined) { %>
                                <li>
                                    <button id="admin" class="boton-header">
                                        <a class="" href="/users/profile">
                                            <i class="bi bi-controller"> JUGADOR</i>
                                        </a>
                                    </button>
                                </li>
                                <li>
                                    <button id="admin" class="boton-header">
                                        <a class="" href="/users/logout">
                                            <i class="bi bi-x-circle"> GAME OVER</i>
                                        </a>
                                    </button>
                                </li>
                                <% } %>
                                    <% if(locals.user==undefined) { %>
                                        <li>

                                            <a class="" href="/users/login">
                                                <button id="admin" class="boton-header">
                                                    <i class="bi bi-dpad"> ENTER</i>
                                                </button>
                                            </a>


                                        </li>
                                        <li>

                                            <a class="" href="/users/register">
                                                <button class="boton-header">
                                                    <i class="bi bi-plus-circle"></i>
                                                    REGISTER
                                                </button>
                                            </a>

                                        </li>
                                        <% } %>
                                            <li>

                                                <a class="" href="/products/shopping-cart">
                                                    <button class="boton-header">
                                                        <i class="bi bi-cart"></i>
                                                        CARRITO
                                                    </button>
                                                </a>


                                            </li>
                </ul>
            </nav>
        </section>
    </article>

    <div class="hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="49.34" height="28" viewBox="0 0 28 24">
            <path fill="currentColor"
                d="M2.61 0h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.39h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22zm0 9.391h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22z" />
        </svg>
    </div>
    <script src="../../scripts/header.js"></script>
</header>