<div class="slider-container">
    <div class="slider">

        <img src="/img/banner zelda.jpg" alt="Publicidad 1">
        <img src="img/super-mario-bros-movie-1920x1080-moviefilms.webp" alt="Publicidad 2">
        <img src="/img/mk_banner.jpg" alt="Publicidad 3">
        <img src="/img/tetris_banner.webp" alt="Publicidad 4">
        <img src="/img/d1zgi6h-22b13a26-12ce-4d77-8e42-7c1800d7cd3f.jpg" alt="Publicidad 5">
        <img src="/img/1758ca1fafe43723507b080927b3c6bf.jpg" alt="Publicidad 6">
        <img src="/img/pacman_banner.jpg" alt="Publicidad 7">
        <img src="/img/crash_banner.avif" alt="Publicidad 8">

        <img src="/img/banner zelda.jpg" alt="Publicidad 1">
        <img src="img/super-mario-bros-movie-1920x1080-moviefilms.webp" alt="Publicidad 2">
        <img src="/img/mk_banner.jpg" alt="Publicidad 3">
        <img src="/img/tetris_banner.webp" alt="Publicidad 4">
        <img src="/img/d1zgi6h-22b13a26-12ce-4d77-8e42-7c1800d7cd3f.jpg" alt="Publicidad 5">
        <img src="/img/1758ca1fafe43723507b080927b3c6bf.jpg" alt="Publicidad 6">
        <img src="/img/pacman_banner.jpg" alt="Publicidad 7">
        <img src="/img/crash_banner.avif" alt="Publicidad 8">

        <!-- 1920 x 820 -->
    </div>
</div>