<div class="slider-container">

    <div class="slider">

        <img src="/img/banners/banner zelda.jpg" alt="Publicidad 1">
        <img src="img//banners/super-mario-bros-movie-1920x1080-moviefilms.webp" alt="Publicidad 2">
        <img src="/img//banners/1758ca1fafe43723507b080927b3c6bf.jpg" alt="Publicidad 3">
        <img src="/img//banners/tetris_banner.webp" alt="Publicidad 4">
        <img src="/img//banners/d1zgi6h-22b13a26-12ce-4d77-8e42-7c1800d7cd3f.jpg" alt="Publicidad 5">
        <img src="/img//banners/1758ca1fafe43723507b080927b3c6bf.jpg" alt="Publicidad 6">
        <img src="/img//banners/pacman_banner.jpg" alt="Publicidad 7">
        <img src="/img//banners/crash_banner.avif" alt="Publicidad 8">

    </div>
    <!-- 1920 x 820 -->
</div>